.inputTitle {
    text-align: start;
    font-weight: bold;
    margin-bottom: 2%;
    padding-left: 12px;
}

.inputSubtitle {
    text-align: start;
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 2%;
    margin-top: 0;
    padding-left: 12px;
}

.input {
    width: 90%;
    height: 45px;
    background-color: black;
    border: 1px solid var(--second-color);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}

.input:hover {
    border-color: var(--primary-text);
}

.input::placeholder {
    font-size: 15px;
}

.inputEyesIcon {
    color: var(--second-color);
    position: relative;
    left: 83%;
    bottom: 40px;
    margin: 0;
    width: 10%;
}

.EyesIcon:hover {
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .inputContainer {
        width: 80% !important;
        margin-left: 10% !important;
    }
}

@media only screen and (max-width: 480px) {
    .inputContainer {
        width: 80% !important;
        margin-left: 10% !important;
    }
}